<div class="container">
  <h1>Dynamic Area Example</h1>
  
  

   <div class="wrapper-list">
    <div
      [style.display]="onDrag ? 'none' : ''"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of todo"
        cdkDrag
        (mousedown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
        (cdkDragStarted)="onDrag = true"
        (cdkDragEnded)="onDrag = false"
        [cdkDragData]="item"
        (cdkDragMoved)="moved($event)"
      >
         <div *ngIf = "item.type === 'img'" >
            <img [src]="item.label" alt="your image"/>
          </div>
          <div *ngIf = "item.type === 'text'" >
            {{ item.label }}
          </div>
        <div *cdkDragPlaceholder class="field-placeholder"></div>
      </div>
    </div>
    <div class="example-list" [style.display]="!onDrag ? 'none' : ''">
      <div class="example-box" *ngFor="let item of todo">
         <div *ngIf = "item.type === 'img'" >
            <img [src]="item.label" alt="your image"/>
          </div>
          <div *ngIf = "item.type === 'text'" >
            {{ item.label }}
          </div>
      </div>
    </div>
  </div>

  <div class="drag-zone-wrap" cdkDrag>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      class="drag-zone"
      cdkDropListSortingDisabled="true"
      (cdkDropListDropped)="drop($event, true)"
    >
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
          ></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>

      <ng-container *ngFor="let item of done">
        <div
          cdkDrag
          class="item-box"
          [style.top.px]="item.y"
          [style.left.px]="item.x"
          [style.z-index]="item['z-index']"
          (cdkDragStarted)="changeZIndex(item)"
          (cdkDragDropped)="changePosition($event, item)"
        >
          <div *ngIf = "item.type === 'img'" >
            <img [src]="item.label" alt="your image"/>
          </div>
          <div *ngIf = "item.type === 'text'" >
            {{ item.label }}
          </div>
           <div *ngIf = "item.type === 'card'" >
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="item.label" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div *cdkDragPlaceholder class="field-placeholder"></div>
        </div>
      </ng-container>
    </div>
  </div>

  

</div>
